__pycache__/
*.pyc
sync.sh
*.log

./utils/

./DATA/evlst/*
./DATA/stlst/*
./DATA/wav/*

./specfem3d_mine/

./specfem3d/*.bash
./specfem3d/*.qbs

./measure_adj/OUTPUT_FILES/*
./measure_adj/PLOTS/ADJOINT_SOURCES/*
./measure_adj/PLOTS/DATA/*
./measure_adj/PLOTS/SYN/*
./measure_adj/ADJOINT_SOURCES/*
./measure_adj/CMTSOLUTION_9818433
./measure_adj/HY_PARFILE

./flexwin/HY_PARFILE/
./flexwin/*ps
./flexwin/PACK_test
./flexwin/PAR_FILE_*
./flexwin/t0*
./flexwin/t1*
./flexwin/t2*
