__pycache__/
*.pyc
*.sac
*.sac.tomo
*.ps
*.log
*.OUTPUT_FILES
*.tmp
*_FILTERED
*.out
*.adj
error*
sync.sh
*.json
*.grd
*.vtu
*.mesh
smooth_model_bin
kernels_list.txt
/TOMO_bk


/utils/
/SYN

/TOMO/
!/TOMO/.gitkeep

/DATA/evlst/
/DATA/stlst/
/DATA/wav/
!./DATA/evlst/.gitkeep
!./DATA/stlst/.gitkeep
!./DATA/wav/.gitkeep

/adjointflows/logger/*
!/adjointflows/logger/.gitkeep



/specfem3d/*.bash
/specfem3d/*.qbs
/specfem3d/DATABASES_MPI
/specfem3d/env_vars.txt

/specfem3d/obj/
/specfem3d/setup/
/specfem3d/OUTPUT_FILES/
/specfem3d/KERNEL
/specfem3d/MOD

!/specfem3d/OUTPUT_FILES/.gitkeep
/specfem3d/bin/
!/specfem3d/bin/.gitkeep

/specfem3d/DATA/tomography_model.xyz
/specfem3d/DATA/meshfem3D_files/topo.xyz


/measure_adj/window_chi*
/measure_adj/window_index
/measure_adj/check_adj_src
/measure_adj/measure_adj
/measure_adj/rotate_adj_src
/measure_adj/OUTPUT_FILES/*
/measure_adj/PLOTS/ADJOINT_SOURCES/*
/measure_adj/PLOTS/DATA/*
/measure_adj/PLOTS/SYN/*
/measure_adj/ADJOINT_SOURCES/*
/measure_adj/CMTSOLUTION*
/measure_adj/HY_PARFILE
/measure_adj/CMTSOLUTION
/measure_adj/PACK
/measure_adj/MEASUREMENT.WINDOWS
/measure_adj/STATIONS_ADJOINT
/measure_adj/obj/*
!/measure_adj/obj/.gitkeep
/measure_adj/PLOTS/MEASUREMENT.WINDOWS
/measure_adj/PLOTS/STATIONS_ADJOINT
/measure_adj/PLOTS/window_chi*
/measure_adj/PLOTS/window_index
/measure_adj/PLOTS/pssac2
/measure_adj/UTIL/pssac2/config.status
/measure_adj/UTIL/pssac2/pssac2
/measure_adj/UTIL/pssac2/pssac2.o
/measure_adj/UTIL/pssac2/sacio.o
/measure_adj/UTIL/pssac2/jb.o
/measure_adj/parfile_recored

/flexwin/HY_PARFILE/
/flexwin/*ps
/flexwin/PACK
/flexwin/PACK_test
/flexwin/PAR_FILE_*
/flexwin/t0*
/flexwin/t1*
/flexwin/t2*
/flexwin/iasp91.hed
/flexwin/iasp91.tbl
/flexwin/flexwin
/flexwin/MEASUREMENT.WINDOWS
/flexwin/libmeasure2.a
/flexwin/ttimes_mod/*.hed
/flexwin/ttimes_mod/*.tbl
/flexwin/ttimes_mod/*.a
/flexwin/ttimes_mod/remodl
/flexwin/ttimes_mod/setbrn
/flexwin/ttimes_mod/*.lis
/flexwin/test_data/
/flexwin/MEASURE/*
/flexwin/parfile_recored



specfem3d/config.log
specfem3d/config.status
specfem3d/Makefile
