setup:
  model:
    current_model_num: 0                 # The model number that you choose to start (start from 0) 
  stage: 
    current_stage_num: 1                 # Which leg (stage) you start (start from 1)
    stage_initial_model: 0               # First model in this period (leg), determines SD or LBFGS
  flexwin:
    FLEXWIN_FLAG: 0         # Re-pick flexwin windows during the same leg (1: every iteration, 0: only first iteration)

preprocessing:
  IMOD: 1                   # Establish model and database for simulation (1: establish, 0: read directly)
  ICHK: 0                   # Check existing files for a continuous run (1: check, 0: start over)

inversion:
  n_store_lbfgs: 5          # Number of models used for approximating Hessian
  max_fail: 5               # Maximum allowed failures to reduce the misfit

data:
  list:
    evlst: fwi_new_cat_test_7.txt # Path to event list
    stlst: sta_bats_cwb_cwb24.txt # Path to station list
    evchk: fwi_new_cat_test_7.txt  # Event list to check misfit in line search
  seismogram:
    tbeg: -30              # Cutting time: start (seconds)
    tend: 150              # Cutting time: end (seconds)
    tcor: 0.0              # Systematic time shift to correct (if any)
    dt: 0.0325             # Resampling rate for both data and synthetics
    filter:
      P1: 10               # Lower bound of period filtering band
      P2: 50               # Upper bound of period filtering band
    component:
      COMP: semv           # Synthetic component to use
      EN2RT: 0             # Rotate E & N to R & T (1: yes, 0: no)

kernel:
  type:
    list: ['alpha', 'beta', 'rho']
    dtype: float32
  smoothing:
    ISMOOTH: 1            # Smooth kernel (1: yes, 0: no)
    SIGMA_H: 20000        # Horizontal smoothing width (m)
    SIGMA_V: 10000         # Vertical smoothing width (m)
  visualization:
    IVTKOUT: 1            # Output kernel VTK file (1: yes, 0: no)

line_search:
  step_interval: 0.025  # Step interval for steepest descent
  step_max: 0.2          # Maximum step length
