setup:
  workflow:
    run_mode: pipeline          # pipeline: Normal inversion process, flexwin_test: Test FLEXWIN only
    start_from_stage: forward   # [forward, postprocess, inversion]
    end_at_stage: forward      # [forward, postprocess, inversion]
    forward_stop_at: misfit           # [full, misfit, gradient, synthetics], only effective when end_at_stage == 'forward'
    # synthetics: only create synthetic waveforms under SYN/
    do_wave_simulation: 1             # 0: skip waveform simulation (if you have them), 1: do waveform simulation
    
  model:
    current_model_num: 17                 # The model number that you choose to start (start from 0) 
    do_generate: 0                       # 1: generate model 0: skip generation
    do_mesh: 0                           # 1: do mesh 0: skip mesh (only efffective when do_generate == 1)
  stage: 
    current_stage_num: 5                 # Which leg (stage) you start (start from 1)
    stage_initial_model: 14               # First model in this period (leg), determines SD or LBFGS
  flexwin:
    flexwin_mode: every_stage                   # every_iter: re-pick each rounds, every_stage: re-pick only in the first round of a stage, user: use the time windows specified by user
    flexwin_user_dir: m010_windows_no_smooth       # **(under TOMO/)** the directory of time-windows if you use 'user' mode 
    

preprocessing:
  ICHK: 0                    # Check existing files for a continuous run (1: check, 0: start over)

source:
  type: cmt                  # cmt: use CMTSOLUTION; force: use FORCESOLUTION from station-source list
  force:
    depth_km: 0.0
    auto_set_par_file: 1     # Ensure USE_FORCE_POINT_SOURCE = .true. in specfem3d/DATA/Par_file

inversion:
  precondition_flag: 0      # Precondition (1: yes, 0: no)
  sd_runs_num: 3            # number of run using SD (e.g. 2 means using SD in the first 2 runs, then use LBFGS) 
  n_store_lbfgs: 5          # Number of models used for approximating Hessian
  max_fail: 3               # Maximum allowed failures to reduce the misfit
  max_model_update: 999     # Max amount you can accept when updating the model (new - old)
  do_backtracking_line_search: 1 # Do backtracking line search (1: yes, 0: no), only for L-BFGS
  backtracking_shrink: 0.8  # Shrink ratio of step length in backtracking line search

data:
  list:
    evlst: fwi_new_cat_version4.txt # Event list (or virtual source station list when source.type=force)
    stlst: sta_new_remove_western.txt # Path to station list
    evchk: fwi_new_cat_version4_18.txt  # Event list to check misfit in line search
  seismogram:
    tbeg: -30              # Cutting time: start (seconds)
    tend: 150              # Cutting time: end (seconds)
    tcor: 0.0              # Systematic time shift to correct (if any)
    dt: 0.0325             # Resampling rate for both data and synthetics
    filter:
      P1: 5               # Lower bound of period filtering band
      P2: 30               # Upper bound of period filtering band
    component:
      COMP: semv           # Synthetic component to use
      EN2RT: 0             # Rotate E & N to R & T (1: yes, 0: no)

kernel:
  type:
    list: ['alpha', 'beta', 'rho']
    dtype: float32
  smoothing:
    ISMOOTH: 1            # Smooth kernel (1: yes, 0: no)
    smooth_par_gradinet:
      SIGMA_H: 4000        # Horizontal smoothing width (m)
      SIGMA_V: 2000         # Vertical smoothing width (m)
  visualization:
    IVTKOUT: 0            # Output kernel VTK file (1: yes, 0: no)

line_search:
  step_interval: 0.01  # Step interval for steepest descent
  step_beg: 0.01
  step_end: 1.0          # Maximum step length
