setup:
  workflow:
    start_step: 2              # which step you start (0: forward, 1: post_processing, 2: inversion)
    testing_mode:
      test_flexwin: 0           # 1: only generate time windows using FLEXWIN (for tuning or pre-select windows)
      test_forward_flag: 0      # 0: skip forward (for the situation you have done synthetics), 1: do forward before selecting windows
  model:
    current_model_num: 0                 # The model number that you choose to start (start from 0) 
    do_mesh: 0                           # Generate mesh (1: yes, 0: no)
  stage: 
    current_stage_num: 1                 # Which leg (stage) you start (start from 1)
    stage_initial_model: 0               # First model in this period (leg), determines SD or LBFGS
  flexwin:
    flexwin_mode: user                   # every_iter: re-pick each rounds, every_stage: re-pick only in the first round of a stage, user: use the time windows specified by user
    flexwin_user_dir: m000_windows       # **(under TOMO/)** the directory of time-windows if you use 'user' mode 
    

preprocessing:
  IMOD: 0                   # Establish model and database for simulation (1: establish, 0: read directly)
  ICHK: 1                  # Check existing files for a continuous run (1: check, 0: start over)

inversion:
  n_store_lbfgs: 5          # Number of models used for approximating Hessian
  max_fail: 3               # Maximum allowed failures to reduce the misfit
  max_model_update: 999     # Max amount you can accept when updating the model (new - old)

data:
  list:
    evlst: fwi_new_cat_version4.txt # Path to event list
    stlst: sta_new_remove_western.txt # Path to station list
    evchk: fwi_new_cat_version4_18.txt  # Event list to check misfit in line search
  seismogram:
    tbeg: -30              # Cutting time: start (seconds)
    tend: 150              # Cutting time: end (seconds)
    tcor: 0.0              # Systematic time shift to correct (if any)
    dt: 0.0325             # Resampling rate for both data and synthetics
    filter:
      P1: 10               # Lower bound of period filtering band
      P2: 30               # Upper bound of period filtering band
    component:
      COMP: semv           # Synthetic component to use
      EN2RT: 0             # Rotate E & N to R & T (1: yes, 0: no)

kernel:
  type:
    list: ['alpha', 'beta', 'rho']
    dtype: float32
  smoothing:
    ISMOOTH: 1            # Smooth kernel (1: yes, 0: no)
    SIGMA_H: 10000        # Horizontal smoothing width (m)
    SIGMA_V: 5000         # Vertical smoothing width (m)
  visualization:
    IVTKOUT: 0            # Output kernel VTK file (1: yes, 0: no)

line_search:
  step_interval: 0.01  # Step interval for steepest descent
  step_max: 0.5          # Maximum step length
